@charset "UTF-8";
/* PC_style (default) */

/* Common parts */
* {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: scroll;
    font-size: 100%;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

li {
    margin-left: 1.5em;
    list-style: none;
}

img {
    max-width: 100%;
}
/* Common parts end*/

header {
    border-bottom: #000 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 1000;
}

.logo > img {
    width: 30px;
}

.main-nav {
    display: flex;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    color: #969770;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 40px;
}

/* body common parts */

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 20px;
    /* padding: 30px; */
}

.section-container {
    min-height: 100vh;
    padding-top: 80px;
    justify-content: space-between;
    scroll-snap-align: start;
}

.section-container:last-of-type {
    margin-bottom: 0;
}

/* body common parts end*/


/* KEY VISUAL - BANNER */

.banner-container {
    padding-top: 80px;
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    text-align: center
}

.banner-container > * {
    width: 50%;
}

.KV-introduction {
    font-family: "Square Peg", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    align-content: center;
    text-align: left;
    padding-left: 80px;
}

/* ABOUT */

.aboutContents {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.aboutPic {
    height: 400px;
    max-width: 50%;
    object-fit: contain;
}

.aboutArticle {
    max-width: 50%;
}

/* WORKS */

.works-title {
    font-family: "Square Peg", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    padding-bottom: 35px;
}

.works-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

@media screen and (max-width: 1400px) {
    .works-container {
        max-width: 600px;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}

.works-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
    /* background-color: #697fbd2c; */
    min-width: 600px;
    min-height: 600px;
    aspect-ratio: 1/1;
}

.worksPic {
    width: 450px;
    transition: all 0.4s ease-in-out;
}

.worksPic:hover {
    transform: scale(1.1);
}

.workPic-back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out;
}

.worksPic:hover ~ .workPic-back {
    width: 95%;
    height: 95%;
}

.colour-alt-1 {
    
}

.colour-alt-2 {
    

}

/* CONTACT PAGE */

.contact-container {
    display: flex;
    justify-content: space-around;
    max-height: 600px;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

.contact-form > * {
    margin-bottom: 30px;
}

.contact-form input {
    width: 500px;
}

.contact-input-field {
    display: flex;
    flex-direction: column;
}

label {
    font-family:  "Square Peg", cursive;
    font-size: 35px;
}

.comment-font {
    font-family: "Noto Serif JP", serif;
    font-size: 20px;
    line-height: 46px;
}

.comment-input {
    height: 150px;
    padding: 10px;
    resize: none;
}

.contact-form input {
    height: 50px;
    padding-left: 10px;
}

.contact-photo-container {
    display: flex;
    justify-content: center;
}

.contact-photo {
    width: 400px;
    object-fit: contain;
}

.contact-submit-btn {
    display: block;
    padding: 14px 28px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px #999;
}

.contact-submit-btn:hover {
    transform: translate(0, 3px);
    transition: all 0.3s;
    box-shadow: 0 1px #999;
}

/* UNIVERSAL */

.fade {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade:hover {
    opacity: 0.5;
}

.flex {
    display: flex;
}

.flex-c {
    flex-direction: column;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center
}

.center {
    margin: 0 auto;
}

/* transition-point between device style */
@media screen and (min-width: 768px) {
    
}

@media screen and (max-width: 1000px) {
    .contact-container {
        flex-direction: column;
        max-height: none;
        align-items: center;
    }

    .banner-container {
        flex-direction: column;
    }
    
    .banner-container > * {
        width: 100%;
    }
}

