
<section class="section-container flex-start">
    <div class="gallery-container">
        <h1 class="gallery-title">Graphic Design</h1>
        <div id="image-grid" class="image-grid">
            <img src="{{'assets/images/gallery/TokyoChocolat_PackageDesign.png' | absolute_url }}" alt="デザイン学校在学中の課題でパッケージデザインに取り組みました。デザイン学校在学中の課題でパッケージデザインに取り組みました。<br>
            以下、課題条件：<br>
            ・Tokyo Chocolatというブランドのチョコレートパッケージを作成<br>
            ・味はミルコチョコレート、抹茶、いちごの3種類<br>
            ・成分表記は指定のものを使用<br>

            作成ポイント：<br>
            ・ブランド名の'東京'から、３つのフレーバーから東京の観光地、またその土地のイメージにあった色や柄を考案しました<br>
            ・駅や空港に置いた際に、海外層へのアプローチも意識して、フレーバーの名前にも地名を入れました<br>

            以下、課題条件：<br>
            ・Tokyo Chocolatというブランドのチョコレートパッケージを作成<br>
            ・味はミルコチョコレート、抹茶、いちごの3種類<br>
            ・成分表記は指定のものを使用">
            <img src="{{'assets/images/gallery/BMTH_LogosAndGoods.png' | absolute_url }}" alt="
            デザイン学校の課題の一環で、お気に入りアーティストのグッズやロゴの考案行いました。<br>
            ① CD ジャケット<br>
            コンピレーションアルバムの曲のうちの一つのMVのビジュアルを一部抜粋、加工してデザインに起しました<br>
            ② グッズ<br>
            グッズとしてマグカップのデザインを考案しました。バンドメンバーの写真を載せたもの、オリジナルイラストロゴをモチーフにしたものの二種類考案しました<br>
            ③ ロゴ<br>
            バンド名「Bring Me The Horizon」の「Horizon」から、水平線、水平線から登る太陽や虹をモチーフにしたロゴを考案しました">
            <img src="{{'assets/images/gallery/TypographyPoster_Helvetica.png' | absolute_url }}" alt="デザイン学校の課題で作成したタイポグラフィポスター。<br>
            Helvetica発祥であるスイスの国旗のカラーをポスターのメインカラーに使用して作成しました。">
            <img src="{{'assets/images/gallery/Collage_90s.jpg' | absolute_url }}" alt="デザイン学校の課題で作成したコラージュ課題です。<br>
            90年代に流行ったものを集約して「レトロポップ」をイメージして作成しました。">
            <img src="{{'assets/images/gallery/MyProject.png' | absolute_url }}" alt="Wixにて制作中のWebsiteです。<br>
            KVとロゴのみPhotoshopとIllustratorを使用して作成致しました。<br>
            将来自分の文具ブランドを立ち上げたいという想いとアイデアのアウトプットを目的に制作しています。<br>">
            <img src="{{'assets/images/gallery/WORKS_icons_GraphicDesign.png' | absolute_url }}" alt="本サイト用に作成しました。コーヒーの豊かな香りを色鮮やかな花に形容してイメージを作成してみました。">
        </div>
    </div>
</section>
