
<section class="section-container">
    <div class="gallery-container">
        <div id="image-grid" class="image-grid">
            <img src="{{'assets/images/gallery/image1.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image2.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image3.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image1.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image2.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image3.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image1.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image2.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image3.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image1.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image2.png' | absolute_url }}" alt="THIS IS A DESC">
            <img src="{{'assets/images/gallery/image3.png' | absolute_url }}" alt="THIS IS A DESC">
        </div>
    </div>
</section>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modal_img">
    <div id="caption"></div>
</div>

<!-- Image popup script -->
<script src="{{ 'assets/js/gallery.js' | absolute_url }}"></script>