
<section class="section-container flex-start">
    <div class="gallery-container">
        <h1 class="gallery-title">Illustrations</h1>
        <div id="image-grid" class="image-grid">
            <img src="{{'assets/images/gallery/HitsujiWorksForPapers2.png' | absolute_url }}" alt="">
            <img src="{{'assets/images/gallery/PaperPlain.jpeg' | absolute_url }}" alt="">
            <img src="{{'assets/images/gallery/BarGirl2.png' | absolute_url }}" alt="">
            <img src="{{'assets/images/gallery/LightRabbit.jpeg' | absolute_url }}" alt="">
            <img src="{{'assets/images/gallery/AccesoriesWithGirls.jpeg' | absolute_url }}" alt="">
            <img src="{{'assets/images/gallery/BouquetAndGirl.PNG' | absolute_url }}" alt="">
            <img src="{{'assets/images/gallery/CosmeticPhycedelicDesktop.PNG' | absolute_url }}" alt="">
        </div>
    </div>
</section>
