{% assign home = site.baseurl %}
{% if page.url == "/" %}
    {% assign home = '#' %}
{% endif %}

<!-- HEADER NAV -->
<header>
    <div style="padding: 25px;">
        <a href="{{ home }}" class="logo">
            <img src="{{ 'assets/images/Logo/LogoForMyPortfolio-02.svg' | absolute_url }}" alt="m-logo">
        </a>
    </div>
    <nav>
        {% if home == '#' %}
        <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="main-nav">
            <li>
                <a onclick="scrolltoSection('about')">
                    ABOUT
                    <img class="icon" src="{{ 'assets/images/about_icon.png' | absolute_url }}" alt="">
                </a>
            </li>
            <li>
                <a onclick="scrolltoSection('case_study')">
                    CASE STUDIES
                    <img class="icon" src="{{ 'assets/images/case_study_icon.png' | absolute_url }}" alt="">
                </a>
            </li>
            <li>
                 <a onclick="scrolltoSection('works')">
                    WORKS
                    <img class="icon" src="{{ 'assets/images/works_icon.png' | absolute_url }}" alt="">
                 </a>
            </li>
            <li>
                <a onclick="scrolltoSection('contact')">
                    CONTACT
                    <img class="icon" src="{{ 'assets/images/contact_icon.png' | absolute_url }}" alt="">
                </a>
            </li>
        </ul>
        {% endif %}
    </nav>
</header>

<script src="{{ 'assets/js/header.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/nav.js' | absolute_url }}"></script>