
<section class="section-container flex-start">
    <div class="gallery-container">
        <h1 class="gallery-title">Web Design</h1>
        <div id="image-grid" class="image-grid">
            <!-- <img src="{{'assets/images/gallery/株式会社ビーコス_デザインテスト.png' | absolute_url }}"
                alt="人材派遣会社HiworksのWebサイトをリデザインしました"
                data-link="https://www.figma.com/design/UKATWsSfloXyRuKC9TgKIJ/株式会社ビーコス_デザインテスト?node-id=0-1&t=OmNeIhlJOiQ0cVez-1"
                data-link-text="Figmaで見る"> -->
        </div>
    </div>
</section>
