
<section class="section-container flex-start">
    <div class="gallery-container">
        <h1 class="gallery-title">Web Design</h1>
        <div id="image-grid" class="image-grid">
            <img src="{{'assets/images/gallery/株式会社ビーコス_デザインテスト.png' | absolute_url }}" alt="人材派遣会社HiworksのWebサイトをリデザインしました。<br>
            <a href="https://www.figma.com/design/UKATWsSfloXyRuKC9TgKIJ/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BE%E3%83%93%E3%83%BC%E3%82%B3%E3%82%B9_%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%83%86%E3%82%B9%E3%83%88?node-id=0-1&t=OmNeIhlJOiQ0cVez-1">figma URL</a>">
        </div>
    </div>
</section>
