/* CASE STUDIES */

.casestudy {
    &_container {
        display: flex;
        justify-content: center;
        gap: 50px;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: 1225px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 1200px) {
            gap: 30px;
            max-width: 800px;
        }
    }
}
