/* CASE STUDIES */

.casestudy {
    &_container {
        display: flex;
        justify-content: center;
        gap: 50px;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;

        @media screen and (max-width: 1225px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 1200px) {
            gap: 30px;
            max-width: 800px;
        }
    }
    &_image {
        width: 100%;
        transition: all 0.3s ease-in-out;

        img {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 50px;
        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

    }
}
