/* The Modal (background) */
.modal {
    /* Hidden by default */
    display: none;
    /* Stay in place */
    position: fixed;
    /* Sit on top */
    z-index: 101;
    /* Location of the box */
    padding-top: 100px;
    left: 0;
    top: 0;
    /* Full width */
    width: 100%;
    /* Full height */
    height: 100vh;
    /* Fallback color */
    background-color: rgba(80, 80, 80, 0.9);
}

/* Modal Content (image) */
.modal-content {
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.modal-image {
    margin: auto;
    max-width: 60%;
    height: auto;
    max-height: none;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: left;
    color: #ccc;
    padding: 20px 0;
}

/* Add Animation */
.modal-image,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;

    a {
        color: #ccc;
        text-decoration: underline;
    }
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    font-family: "Square Peg", cursive;
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 80px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    transition: 0.3s;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}