<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>瀧口 美月 | Mizuki Takiguchi | Graphic Designer</title>
    <meta name="description" content="瀧口 美月の作品紹介ページです">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- <meta property="og:url" content=""> -->
    <meta property="og:title" content="瀧口 美月 | Mizuki Takiguchi | Graphic Designer" />
    <meta property="og:description" content="瀧口 美月の作品紹介ページです" />
    <meta property="og:type" content="website">

    <!-- favicon -->
    <link rel="icon" href="{{ 'assets/images/Logo/LogoForMyPortfolio-02.png' | absolute_url }}">

    <!-- Reset css -->
    <link rel="stylesheet" href="{{ 'assets/css/reset.css' | absolute_url }}">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ 'assets/css/style.css' | absolute_url }}">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Rock+Salt&family=Square+Peg&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Noto+Serif+JP:wght@200..900&family=Rock+Salt&family=Square+Peg&display=swap" rel="stylesheet">
</head>
{% include nav-header.html %}
<body>

    {{ content }}

</body>
</html>
